/* Header */
.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

.content{
  padding-top: 50px;
  padding-bottom: 100px;
}

#large-header {
	background-image: url('https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/img/demo-1-bg.jpg');
}

.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.cardContainer{
  position: fixed;
  top:17%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: auto;
}
.card{
  width:60%;
  margin: auto;
  margin-bottom: 4em;
}

.float{
  z-index: 999;
  position:fixed;
  width:60px;
  height:60px;
  bottom:30px;
  right:30px;
  background-color:#0C9;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  box-shadow: 2px 2px 3px #999;
}

.my-float{
  margin-top:22px;
}

.float:hover{
  transform: scale3d(1.05, 1.05, 1);
   transition: all .2s ease-in-out;
}

.btn-comment{
    margin-left: 25%;
    width: 50%;
    margin-bottom: 10%;
}

.card:hover{
   transform: scale3d(1.05, 1.05, 1);
   transition: all .5s ease-in-out;
}

.hvr-grow{-webkit-transform:perspective(1px) translateZ(0);transform:perspective(1px) translateZ(0);box-shadow:0 0 1px rgba(0,0,0,0);-webkit-transition-duration:.3s;transition-duration:.3s;-webkit-transition-property:transform;transition-property:transform}.hvr-grow:active,.hvr-grow:focus,.hvr-grow:hover{-webkit-transform:scale(1.1);transform:scale(1.1)}


.fx-wrap .card {
  perspective: 1000px;
  width: 324px;
  height: 204px;
  position: relative;
}
.fx-wrap .card>.front,
.fx-wrap .card>.back {
  transition: transform 3s, z-index 3s 0s, box-shadow 3s;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  will-change: transform;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 4px;
  background-color: #fff;
  backface-visibility: hidden;
}

.fx-wrap .card>.front>*,
.fx-wrap .card>.back>* {
  height: 100%;
}
.fx-wrap .card>.front .image,
.fx-wrap .card>.back .image {
  float: left;
}
.fx-wrap .card>.front .text,
.fx-wrap .card>.back .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 216px;
  float: right;
}
.fx-wrap .card>.front .text button.flip,
.fx-wrap .card>.back .text button.flip {
  border-radius: 9999em;
  width: 30px;
  height: 30px;
  margin: 10px;
  border: 0;
  background-color: #ddd;
  color: #fff;
  font-size: 1.5em;
  float: right;
  flex: 1;
  outline: 0;
  transition: background-color 0.3s ease-in, transform 0.4s;
  transition-delay: 0.1s;
}
.fx-wrap .card>.front .text button.flip:hover{
  background-color: #16a8cf;
}
.fx-wrap .card>.front .text button.flip:focus,
.fx-wrap .card>.back .text button.flip:focus {
  transform: rotate(-360deg);
}
.fx-wrap .card>.front .text p,
.fx-wrap .card>.back .text p {
  margin: 30px auto;
  width: 80%;
  flex: 2;
}
.fx-wrap .card>.front .text a,
.fx-wrap .card>.back .text a {
  text-transform: uppercase;
  margin: 10px auto;
  text-align: right;
  width: 80%;
  display: block;
  flex: 1;
}
.fx-wrap .card>.front .image,
.fx-wrap .card>.back .image {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-size: cover;
  width: 108px;
  background-color: #f5f5f5;
  position: relative;
}
.im1{
  background-image: url('./images/im1.png');
}

.im2{
  background-image: url('./images/im2.png');
}

.im3{
  background-image: url('./images/im3.png');
}

.fx-wrap .card>.front .image .heading,
.fx-wrap .card>.back .image .heading {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 10px;
  font-size: 1.5em;
  text-align: right;
  color: #fff;
  text-transform: uppercase;
}
.fx-wrap .card>.front {
  z-index: 2;
  transform: rotateY(0deg);
}


.fx-wrap .card.flip-it>.front {
  transform: rotateY(-180deg);
  z-index: 1;
}

.labelRating{
  margin-top: 5px;
  margin-left: 65%;
}

.formContainer{
	position: fixed;
	top: -10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
    width: 100%;
    height: 100%;
    z-index: 10;
}
button#contact_btn {
    color: white;
    border-radius: 6px;
    border: none;
    box-shadow: 1px 1px 1px grey;
    color: gray;
    height: 40px;
}

form input, form textarea {
  font-family: monospace;
  box-sizing: border-box;
	margin-bottom: 10px;
	background: rgba(0,0,0,0.3);
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
  border-radius: 6px;
  display: block;
}
form input::placeholder, form textarea::placeholder {
  color: #b7b7b7;
}

.center {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}



/*  Contact form*/

form#contact_form {
  padding: 40px;
  width: 600px;
  height: 500px;
  text-align:center;
	/* //background-color: white; */
	opacity: 30%;
}
form h2 {
  color:white;
}
form#contact_form input {
  width: 100%;
	border: 2px dotted cyan;
  font-size: 1.1em
}
form#contact_form textarea#contact_message {
  width: 100%;
  height: auto;
  font-size: 1.1em;
		border: 2px dotted cyan;
}
form#contact_form button#contact_btn {
    width: 100%;
}
@media only screen and (max-width : 768px) {
	.demo-1 .main-title {
		font-size: 3em;
	}
}


*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


svg {
  overflow: visible;
}

.search {
  position: fixed;
  top: 10%;
  left: 50%;
  margin-left: -16rem;
  margin-top: -3.5rem;
  width: 32rem;
  height: 7rem;
  z-index: 999
}
.search:not(.active) {
  cursor: pointer;
}

.search-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.search-svg__path {
  fill: none;
  stroke: #fff;
  stroke-width: 6px;
}

.search-input {
  position: relative;
  width: 27rem;
  height: 6rem;
  padding: 1.2rem 0 1.2rem 2.5rem;
  background: transparent;
  outline: none;
  border: none;
  font-size: 3.6rem;
  color: #fff;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s;
}
.search-input.visible {
  z-index: auto;
  opacity: 1;
}

.search-close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  z-index: -1;
}
.search-close.visible {
  z-index: auto;
}
.search-close.visible:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  opacity: 1;
  transition: opacity 0.1s, -webkit-transform 0.2s cubic-bezier(0.73, 0.14, 0.4, 1.58);
  transition: transform 0.2s cubic-bezier(0.73, 0.14, 0.4, 1.58), opacity 0.1s;
  transition: transform 0.2s cubic-bezier(0.73, 0.14, 0.4, 1.58), opacity 0.1s, -webkit-transform 0.2s cubic-bezier(0.73, 0.14, 0.4, 1.58);
}
.search-close.visible:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 1;
  transition: opacity 0.1s 0.2s, -webkit-transform 0.2s 0.2s cubic-bezier(0.73, 0.14, 0.4, 1.58);
  transition: transform 0.2s 0.2s cubic-bezier(0.73, 0.14, 0.4, 1.58), opacity 0.1s 0.2s;
  transition: transform 0.2s 0.2s cubic-bezier(0.73, 0.14, 0.4, 1.58), opacity 0.1s 0.2s, -webkit-transform 0.2s 0.2s cubic-bezier(0.73, 0.14, 0.4, 1.58);
}
.search-close:before, .search-close:after {
  content: "";
  position: absolute;
  top: 1.2rem;
  left: 0;
  width: 100%;
  height: 0.6rem;
  background: #fff;
  border-radius: 0.5rem;
  opacity: 0;
}
.search-close:before {
  -webkit-transform: rotate(-45deg) translateX(2rem);
          transform: rotate(-45deg) translateX(2rem);
  transition: opacity 0.1s 0.1s, -webkit-transform 0.2s;
  transition: transform 0.2s, opacity 0.1s 0.1s;
  transition: transform 0.2s, opacity 0.1s 0.1s, -webkit-transform 0.2s;
}
.search-close:after {
  -webkit-transform: rotate(45deg) translateX(2rem);
          transform: rotate(45deg) translateX(2rem);
  transition: opacity 0.1s 0.3s, -webkit-transform 0.2s 0.2s;
  transition: transform 0.2s 0.2s, opacity 0.1s 0.3s;
  transition: transform 0.2s 0.2s, opacity 0.1s 0.3s, -webkit-transform 0.2s 0.2s;
}


.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}

.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}


.wrapper {
  width: 100px;
  height: 100px;
}
.wrapper .slice {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 35px solid #FEFCC6;
  top: 0%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  visibility: hidden;
  z-index: 10;
}
.wrapper .slice:before {
  content: '';
  position: absolute;
  left: -15px;
  top: -45px;
  width: 30px;
  height: 15px;
  background: #FEFCC6;
  border-radius: 100%;
  border-top: 5px solid #E57A19;
  z-index: -1;
}
.wrapper .slice .tomato {
  background: #A30000;
  position: absolute;
  border-radius: 100%;
}
.wrapper .slice .tomato:nth-child(1) {
  width: 10px;
  height: 10px;
  top: -37px;
  left: 1px;
}
.wrapper .slice .tomato:nth-child(2) {
  width: 7px;
  height: 7px;
  top: -25px;
  left: -7px;
}
.wrapper .slice .olive {
  background: #A30000;
  position: absolute;
  border-radius: 100%;
}
.wrapper .slice .olive:nth-child(3) {
  width: 4px;
  height: 4px;
  top: -14px;
  left: -1px;
}

.center2 {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slice:nth-child(1) {
  -webkit-animation-name: slide-in-1;
          animation-name: slide-in-1;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes slide-in-1 {
  from {
    -webkit-transform: translateX(-50%) rotate(60deg) translateY(-30px);
            transform: translateX(-50%) rotate(60deg) translateY(-30px);
    visibility: visible;
  }
  to {
    -webkit-transform: translateX(-50%) rotate(60deg) translateY(-15px);
            transform: translateX(-50%) rotate(60deg) translateY(-15px);
    visibility: visible;
  }
}

@keyframes slide-in-1 {
  from {
    -webkit-transform: translateX(-50%) rotate(60deg) translateY(-30px);
            transform: translateX(-50%) rotate(60deg) translateY(-30px);
    visibility: visible;
  }
  to {
    -webkit-transform: translateX(-50%) rotate(60deg) translateY(-15px);
            transform: translateX(-50%) rotate(60deg) translateY(-15px);
    visibility: visible;
  }
}
.slice:nth-child(2) {
  -webkit-animation-name: slide-in-2;
          animation-name: slide-in-2;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes slide-in-2 {
  from {
    -webkit-transform: translateX(-50%) rotate(120deg) translateY(-30px);
            transform: translateX(-50%) rotate(120deg) translateY(-30px);
    visibility: visible;
  }
  to {
    -webkit-transform: translateX(-50%) rotate(120deg) translateY(-15px);
            transform: translateX(-50%) rotate(120deg) translateY(-15px);
    visibility: visible;
  }
}

@keyframes slide-in-2 {
  from {
    -webkit-transform: translateX(-50%) rotate(120deg) translateY(-30px);
            transform: translateX(-50%) rotate(120deg) translateY(-30px);
    visibility: visible;
  }
  to {
    -webkit-transform: translateX(-50%) rotate(120deg) translateY(-15px);
            transform: translateX(-50%) rotate(120deg) translateY(-15px);
    visibility: visible;
  }
}
.slice:nth-child(3) {
  -webkit-animation-name: slide-in-3;
          animation-name: slide-in-3;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes slide-in-3 {
  from {
    -webkit-transform: translateX(-50%) rotate(180deg) translateY(-30px);
            transform: translateX(-50%) rotate(180deg) translateY(-30px);
    visibility: visible;
  }
  to {
    -webkit-transform: translateX(-50%) rotate(180deg) translateY(-15px);
            transform: translateX(-50%) rotate(180deg) translateY(-15px);
    visibility: visible;
  }
}

@keyframes slide-in-3 {
  from {
    -webkit-transform: translateX(-50%) rotate(180deg) translateY(-30px);
            transform: translateX(-50%) rotate(180deg) translateY(-30px);
    visibility: visible;
  }
  to {
    -webkit-transform: translateX(-50%) rotate(180deg) translateY(-15px);
            transform: translateX(-50%) rotate(180deg) translateY(-15px);
    visibility: visible;
  }
}
.slice:nth-child(4) {
  -webkit-animation-name: slide-in-4;
          animation-name: slide-in-4;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes slide-in-4 {
  from {
    -webkit-transform: translateX(-50%) rotate(240deg) translateY(-30px);
            transform: translateX(-50%) rotate(240deg) translateY(-30px);
    visibility: visible;
  }
  to {
    -webkit-transform: translateX(-50%) rotate(240deg) translateY(-15px);
            transform: translateX(-50%) rotate(240deg) translateY(-15px);
    visibility: visible;
  }
}

@keyframes slide-in-4 {
  from {
    -webkit-transform: translateX(-50%) rotate(240deg) translateY(-30px);
            transform: translateX(-50%) rotate(240deg) translateY(-30px);
    visibility: visible;
  }
  to {
    -webkit-transform: translateX(-50%) rotate(240deg) translateY(-15px);
            transform: translateX(-50%) rotate(240deg) translateY(-15px);
    visibility: visible;
  }
}
.slice:nth-child(5) {
  -webkit-animation-name: slide-in-5;
          animation-name: slide-in-5;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes slide-in-5 {
  from {
    -webkit-transform: translateX(-50%) rotate(300deg) translateY(-30px);
            transform: translateX(-50%) rotate(300deg) translateY(-30px);
    visibility: visible;
  }
  to {
    -webkit-transform: translateX(-50%) rotate(300deg) translateY(-15px);
            transform: translateX(-50%) rotate(300deg) translateY(-15px);
    visibility: visible;
  }
}

@keyframes slide-in-5 {
  from {
    -webkit-transform: translateX(-50%) rotate(300deg) translateY(-30px);
            transform: translateX(-50%) rotate(300deg) translateY(-30px);
    visibility: visible;
  }
  to {
    -webkit-transform: translateX(-50%) rotate(300deg) translateY(-15px);
            transform: translateX(-50%) rotate(300deg) translateY(-15px);
    visibility: visible;
  }
}
.slice:nth-child(6) {
  -webkit-animation-name: slide-in-6;
          animation-name: slide-in-6;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes slide-in-6 {
  from {
    -webkit-transform: translateX(-50%) rotate(360deg) translateY(-30px);
            transform: translateX(-50%) rotate(360deg) translateY(-30px);
    visibility: visible;
  }
  to {
    -webkit-transform: translateX(-50%) rotate(360deg) translateY(-15px);
            transform: translateX(-50%) rotate(360deg) translateY(-15px);
    visibility: visible;
  }
}

@keyframes slide-in-6 {
  from {
    -webkit-transform: translateX(-50%) rotate(360deg) translateY(-30px);
            transform: translateX(-50%) rotate(360deg) translateY(-30px);
    visibility: visible;
  }
  to {
    -webkit-transform: translateX(-50%) rotate(360deg) translateY(-15px);
            transform: translateX(-50%) rotate(360deg) translateY(-15px);
    visibility: visible;
  }
}


